@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap");
.container {
  max-width: 1500px;
}
@media screen and (max-width: 1499px) {
  .container {
    max-width: 1150px;
  }
}
@media screen and (max-width: 1199px) {
  .container {
    max-width: 950px;
  }
}
@media screen and (max-width: 991px) {
  .container {
    max-width: 100%;
    padding: 0px 20px;
  }
}
@media screen and (max-width: 575px) {
  .container {
    max-width: 100%;
  }
}

.container-fluid {
  padding-left: 20px;
  padding-right: 20px;
}

/****** Définition des couleurs du thème ******/
/*******************/
/****** Couleur pour alert ******/
/***** Importation des polices ******/
/*************** Css qui met les champs en erreur en rouge ***************/
select.error-control, select .error-control:focus {
  background-position: right 20px center !important;
}

.error-control-border-only {
  border-color: #d32a46 !important;
}

.error-control, .error-control:focus {
  border-color: #d32a46 !important;
  background-image: url("/_Assets/Images/icons/error-icon.svg");
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: right 10px center;
}

.error-control::-webkit-input-placeholder, .error-control:focus::-webkit-input-placeholder {
  color: #cdced7;
}

.error-control::-moz-placeholder, .error-control:focus::-moz-placeholder {
  color: #cdced7;
}

.error-control::-ms-input-placeholder, .error-control:focus::-ms-input-placeholder {
  color: #cdced7;
}

/************* End Css qui met les champs en erreur en rouge *************/
.form-control::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #cdced7;
  font-weight: 400;
  font-style: italic;
  opacity: 1;
  /* Firefox */
}

.form-control:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #cdced7;
  font-weight: 400;
  font-style: italic;
}

.form-control::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #cdced7;
  font-weight: 400;
  font-style: italic;
}

/****** Mixin ******/
/***** Page element ******/
body {
  min-width: 320px;
  font-size: 18px;
  font-family: "Lexend", sans-serif;
  background: #eceff4;
  background: radial-gradient(circle, #eceff4 0%, #e7ecf0 60%, #c1c6cc 90%, #9fa3ac 100%);
}
@media screen and (max-width: 767px) {
  body {
    font-size: 16px;
  }
}
body.person1 {
  background: #eceff4;
  background: url("/_assets/img/persons/person1.webp"), radial-gradient(circle, #eceff4 0%, #e7ecf0 60%, #c1c6cc 90%, #9fa3ac 100%);
}
body.person2 {
  background: #eceff4;
  background: url("/_assets/img/persons/person2.webp"), radial-gradient(circle, #eceff4 0%, #e7ecf0 60%, #c1c6cc 90%, #9fa3ac 100%);
}
body.person3 {
  background: #eceff4;
  background: url("/_assets/img/persons/person3.webp"), radial-gradient(circle, #eceff4 0%, #e7ecf0 60%, #c1c6cc 90%, #9fa3ac 100%);
}
body.person4 {
  background: #eceff4;
  background: url("/_assets/img/persons/person4.webp"), radial-gradient(circle, #eceff4 0%, #e7ecf0 60%, #c1c6cc 90%, #9fa3ac 100%);
}
body.person5 {
  background: #eceff4;
  background: url("/_assets/img/persons/person5.webp"), radial-gradient(circle, #eceff4 0%, #e7ecf0 60%, #c1c6cc 90%, #9fa3ac 100%);
}
body.person6 {
  background: #eceff4;
  background: url("/_assets/img/persons/person6.webp"), radial-gradient(circle, #eceff4 0%, #e7ecf0 60%, #c1c6cc 90%, #9fa3ac 100%);
}
body.person7 {
  background: #eceff4;
  background: url("/_assets/img/persons/person7.webp"), radial-gradient(circle, #eceff4 0%, #e7ecf0 60%, #c1c6cc 90%, #9fa3ac 100%);
}
body.person8 {
  background: #eceff4;
  background: url("/_assets/img/persons/person8.webp"), radial-gradient(circle, #eceff4 0%, #e7ecf0 60%, #c1c6cc 90%, #9fa3ac 100%);
}
body.person9 {
  background: #eceff4;
  background: url("/_assets/img/persons/person9.webp"), radial-gradient(circle, #eceff4 0%, #e7ecf0 60%, #c1c6cc 90%, #9fa3ac 100%);
}
body.person10 {
  background: #eceff4;
  background: url("/_assets/img/persons/person10.webp"), radial-gradient(circle, #eceff4 0%, #e7ecf0 60%, #c1c6cc 90%, #9fa3ac 100%);
}
body.person11 {
  background: #eceff4;
  background: url("/_assets/img/persons/person11.webp"), radial-gradient(circle, #eceff4 0%, #e7ecf0 60%, #c1c6cc 90%, #9fa3ac 100%);
}
body.person12 {
  background: #eceff4;
  background: url("/_assets/img/persons/person12.webp"), radial-gradient(circle, #eceff4 0%, #e7ecf0 60%, #c1c6cc 90%, #9fa3ac 100%);
}
body.person13 {
  background: #eceff4;
  background: url("/_assets/img/persons/person13.webp"), radial-gradient(circle, #eceff4 0%, #e7ecf0 60%, #c1c6cc 90%, #9fa3ac 100%);
}
body.person1, body.person2, body.person3, body.person4, body.person5, body.person6, body.person7, body.person8, body.person9, body.person10, body.person11, body.person12, body.person13 {
  background-repeat: no-repeat;
  background-position: right -100px bottom 0px, center;
  background-size: contain;
}
@media screen and (max-width: 1499px) {
  body.person1, body.person2, body.person3, body.person4, body.person5, body.person6, body.person7, body.person8, body.person9, body.person10, body.person11, body.person12, body.person13 {
    background-position: right -150px bottom 0px, center;
    /* background-size: 70%, 100%;*/
  }
}
@media screen and (max-width: 1199px) {
  body.person1, body.person2, body.person3, body.person4, body.person5, body.person6, body.person7, body.person8, body.person9, body.person10, body.person11, body.person12, body.person13 {
    background-position: right -350px bottom 0px, center;
  }
}
@media screen and (max-width: 991px) {
  body.person1, body.person2, body.person3, body.person4, body.person5, body.person6, body.person7, body.person8, body.person9, body.person10, body.person11, body.person12, body.person13 {
    background-position: right -250px bottom 0px, center;
  }
}
@media screen and (max-width: 767px) {
  body.person1, body.person2, body.person3, body.person4, body.person5, body.person6, body.person7, body.person8, body.person9, body.person10, body.person11, body.person12, body.person13 {
    background: #eceff4;
    background: radial-gradient(circle, #eceff4 0%, #e7ecf0 60%, #c1c6cc 90%, #9fa3ac 100%);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
}

h1 {
  font-family: "DM Serif Display", serif;
  font-size: 35px;
}
@media screen and (max-width: 1199px) {
  h1 {
    font-size: 32px;
  }
}
@media screen and (max-width: 991px) {
  h1 {
    font-size: 30px;
  }
}
@media screen and (max-width: 767px) {
  h1 {
    font-size: 28px;
  }
}
@media screen and (max-width: 575px) {
  h1 {
    font-size: 26px;
  }
}

h2 {
  font-size: 28px;
  font-weight: 400;
}
@media screen and (max-width: 1199px) {
  h2 {
    font-size: 24px;
  }
}
@media screen and (max-width: 991px) {
  h2 {
    font-size: 22px;
  }
}
@media screen and (max-width: 767px) {
  h2 {
    font-size: 20px;
  }
}
@media screen and (max-width: 575px) {
  h2 {
    font-size: 18px;
  }
}

.icon15 {
  width: 100%;
  height: 100%;
  max-width: 15px;
  max-height: 15px;
}

.icon25 {
  width: 100%;
  height: 100%;
  max-width: 25px;
  max-height: 25px;
}

.icon100 {
  width: 100%;
  height: 100%;
  max-width: 100px;
  max-height: 100px;
}

*, *:focus, *:hover {
  outline: none;
}

label {
  color: #4F4C90;
  font-size: 17px;
  font-weight: 400;
}

.form-group {
  margin: 5px 0px;
}
@media screen and (max-width: 991px) {
  .form-group {
    margin: 7px 0px;
  }
}

.white-card {
  text-align: center;
}
.white-card h3 {
  text-align: left;
}
@media screen and (max-width: 1499px) {
  .white-card h3 {
    font-size: 26px;
  }
}
@media screen and (max-width: 1199px) {
  .white-card h3 {
    font-size: 24px;
  }
}
@media screen and (max-width: 991px) {
  .white-card h3 {
    font-size: 20px;
  }
}
.white-card .big-number {
  color: #4F4C90;
  font-size: 80px;
  line-height: 110%;
}
@media screen and (max-width: 1499px) {
  .white-card .big-number {
    font-size: 75px;
  }
}
@media screen and (max-width: 1199px) {
  .white-card .big-number {
    font-size: 72px;
  }
}
@media screen and (max-width: 991px) {
  .white-card .big-number {
    font-size: 70px;
  }
}
.white-card .card-info {
  margin-top: 10px;
  line-height: 115%;
  min-height: 35px;
}
@media screen and (max-width: 1499px) {
  .white-card .card-info {
    font-size: 17px;
  }
}
@media screen and (max-width: 1199px) {
  .white-card .card-info {
    font-size: 16px;
  }
}
@media screen and (max-width: 991px) {
  .white-card .card-info {
    font-size: 15px;
  }
}
@media screen and (max-width: 767px) {
  .white-card .card-info {
    margin-top: 0px;
    min-height: auto;
  }
}
.white-card .btn-primary {
  margin-top: 15px;
  text-align: center;
  width: auto;
  padding: 8px 20px;
}
.white-card .next-detail {
  border-left: 3px solid #939598;
  text-align: left;
  padding-left: 25px;
}
.white-card .next-detail .client-detail {
  margin: 3px 0px;
}
@media screen and (max-width: 1499px) {
  .white-card .next-detail .client-detail {
    font-size: 17px;
  }
}
@media screen and (max-width: 1199px) {
  .white-card .next-detail .client-detail {
    font-size: 16px;
  }
}
@media screen and (max-width: 767px) {
  .white-card .next-detail {
    text-align: center;
    border-left: none;
    padding-left: 15px;
    margin-top: 10px;
  }
}

.modal .modal-header {
  background-color: #4F4C90;
  color: #FFF;
  justify-content: center;
  position: relative;
  font-family: "DM Serif Display", serif;
  padding: 15px 50px;
}
@media screen and (max-width: 991px) {
  .modal .modal-header {
    padding: 10px 35px;
  }
}
.modal .modal-header .modal-title {
  font-size: 28px;
  line-height: 115%;
}
@media screen and (max-width: 991px) {
  .modal .modal-header .modal-title {
    font-size: 24px;
  }
}
.modal .modal-header .btn-close {
  position: absolute;
  right: 15px;
  top: 17px;
  margin: 0px;
  padding: 0px;
  opacity: 1;
  background: none;
  background-color: none;
  width: 30px;
  height: 30px;
}
@media screen and (max-width: 991px) {
  .modal .modal-header .btn-close {
    right: 10px;
    top: 12px;
    width: 20px;
    height: 20px;
  }
}
.modal .modal-header .btn-close:focus {
  box-shadow: none;
}
.modal .modal-header .btn-close i {
  color: #FFF;
  font-size: 30px;
  line-height: 30px;
}
@media screen and (max-width: 991px) {
  .modal .modal-header .btn-close i {
    font-size: 20px;
    line-height: 20px;
  }
}
@media screen and (max-width: 767px) {
  .modal .modal-header .btn-close i {
    font-size: 20px;
    line-height: 20px;
  }
}
.modal .modal-body {
  font-size: 16px;
  font-weight: 300;
}
.modal .modal-body .form-group {
  margin: 10px 0px;
}
@media screen and (max-width: 991px) {
  .modal .modal-body .form-group {
    margin: 7px 0px;
  }
}
.modal .modal-body .bg-success {
  background-color: #d1e7dd !important;
  border-color: #badbcc;
  border-radius: 4px;
}
.modal .modal-body .bottom-separator {
  border-bottom: 1px solid #f0f0f0;
  padding-bottom: 3px;
  margin-bottom: 3px;
}
.modal .modal-body .long-text {
  font-size: 15px;
  line-height: 135%;
}
.modal .modal-body .alert {
  font-size: 15px;
  line-height: 135%;
}
.modal .modal-body .text-hilight {
  background-color: #f0f0f0;
  padding: 10px 10px;
  border-radius: 4px;
}
.modal .smalltext {
  font-style: italic;
  padding: 15px 0px;
  font-size: 14px;
}
.modal .btn {
  width: auto;
  text-align: center;
  padding: 8px 15px;
}

.availability .row:not(:last-child) {
  border-bottom: 1px solid #f0f0f0;
  padding-bottom: 3px;
  margin-bottom: 3px;
}
@media screen and (max-width: 575px) {
  .availability .row:not(:last-child) {
    padding-bottom: 8px;
    margin-bottom: 8px;
  }
}
@media screen and (max-width: 575px) {
  .availability {
    font-size: 14px;
  }
}

input[type=checkbox] {
  width: 1em;
  height: 1em;
  margin-top: 0.25em;
  vertical-align: top;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: 1px solid rgba(0, 0, 0, 0.25);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-print-color-adjust: exact;
  color-adjust: exact;
  border-radius: 0.25em;
}

input:checked[type=checkbox] {
  background-image: url("/_assets/img/icons/check.svg");
  color: #4F4C90 !important;
  background-color: #4F4C90 !important;
  opacity: 0.7;
}

input:disabled {
  pointer-events: none;
  filter: none;
}

#toast-container > div {
  width: 320px;
  padding: 15px 15px 15px 75px;
}
#toast-container > .toast-error {
  background-image: url("/_assets/img/icons/refusee.svg") !important;
  background-size: 50px;
  background-color: #f8d7da;
  color: #842029;
}
#toast-container > .toast-error .toast-close-button {
  color: #842029;
}
#toast-container > .toast-success {
  background-image: url("/_assets/img/icons/acceptee.svg") !important;
  background-size: 50px;
  background-color: #d1e7dd;
  color: #0f5132;
}
#toast-container > .toast-success a {
  color: #3B377F;
  text-decoration: underline;
}
#toast-container > .toast-success a:hover {
  color: #4F4C90;
  text-decoration: none;
}
#toast-container > .toast-success .toast-close-button {
  color: #0f5132;
}

.white-card {
  background-color: #FFF;
  box-shadow: 0px 2px 3px #D9D9D9;
  border-radius: 10px;
  margin: 20px 0px;
  padding: 20px;
}

.legal {
  font-size: 14px;
  padding-top: 40px;
  padding-bottom: 10px;
}
@media screen and (max-width: 767px) {
  .legal .legal-right span {
    display: block;
  }
}
.legal .legal-right span:not(:last-child):after {
  content: "|";
  padding-left: 5px;
}
@media screen and (max-width: 767px) {
  .legal .legal-right span:not(:last-child):after {
    content: "";
    padding-left: 0px;
  }
}
.legal a {
  color: #000;
  text-decoration: none;
}
.legal a:hover {
  text-decoration: underline;
}
.legal .designer {
  color: #3B377F;
  text-decoration: underline;
}
.legal .designer:hover {
  text-decoration: none;
}

.page-instruction {
  margin-bottom: 20px;
}

.back-to-login {
  font-size: 16px;
  text-decoration: none;
  color: #000;
}
.back-to-login:hover {
  text-decoration: underline;
}
.back-to-login img {
  transform: rotate(90deg);
  width: 15px;
  height: 15px;
  margin-top: -2px;
  margin-right: 5px;
}

.table-responsive {
  border-radius: 10px;
  box-shadow: 0px 2px 3px #D9D9D9;
}

table {
  font-size: 16px;
  width: 100%;
  border-radius: 10px;
}
@media screen and (max-width: 1199px) {
  table {
    font-size: 15px;
  }
}
@media screen and (max-width: 767px) {
  table {
    font-size: 14px;
  }
}
table thead th {
  background-color: #4F4C90 !important;
  color: #FFF;
  font-weight: normal;
  padding: 8px 15px;
}
table thead th:first-child {
  border-top-left-radius: 10px;
}
table thead th:last-child {
  border-top-right-radius: 10px;
}
table tbody tr td {
  padding: 8px 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
table tbody tr:nth-child(odd) td {
  background-color: #FFF;
}
table tbody tr:nth-child(even) td {
  background-color: #F0F0F0;
}
table tbody tr:last-child td:first-child {
  border-bottom-left-radius: 10px;
}
table tbody tr:last-child td:last-child {
  border-bottom-right-radius: 10px;
}
table .btn {
  font-size: 14px;
  width: auto;
  padding: 7px 10px;
}

/*********Calendar******/
.fc-theme-standard td, .fc-theme-standard th {
  border: 1px solid #D9D9D9;
}

.fc-timegrid-cols {
  background-color: #FFF;
}

.calendar-container .fc {
  margin-top: 50px;
}
@media screen and (max-width: 767px) {
  .calendar-container .fc {
    margin-top: 30px;
  }
}
.calendar-container .fc .fc-toolbar-title {
  font-size: 25px;
}
@media screen and (max-width: 767px) {
  .calendar-container .fc .fc-toolbar-title {
    font-size: 20px;
  }
}
@media screen and (max-width: 575px) {
  .calendar-container .fc .fc-toolbar-title {
    font-size: 18px;
  }
}
@media screen and (max-width: 767px) {
  .calendar-container .fc .fc-toolbar {
    flex-direction: column;
    justify-content: center;
  }
  .calendar-container .fc .fc-toolbar .fc-toolbar-chunk {
    margin: 5px 0px;
  }
  .calendar-container .fc .fc-toolbar .fc-toolbar-chunk:nth-child(1) {
    order: 2;
  }
  .calendar-container .fc .fc-toolbar .fc-toolbar-chunk:nth-child(2) {
    order: 3;
  }
  .calendar-container .fc .fc-toolbar .fc-toolbar-chunk:nth-child(3) {
    order: 1;
  }
}
.calendar-container .fc .fc-toolbar.fc-header-toolbar {
  margin-bottom: 15px;
}
@media screen and (max-width: 767px) {
  .calendar-container .fc .fc-toolbar.fc-header-toolbar {
    margin-bottom: 5px;
  }
}
.calendar-container .fc .fc-prev-button, .calendar-container .fc .fc-next-button {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  padding: 0px;
  line-height: 0.9;
  cursor: pointer;
  background-color: #FFF;
  color: #3B377F;
  border: 1px solid #3B377F;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently supported by Chrome, Opera and Firefox */
  box-shadow: none !important;
}
.calendar-container .fc .fc-prev-button:hover, .calendar-container .fc .fc-prev-button:active, .calendar-container .fc .fc-prev-button:focus, .calendar-container .fc .fc-next-button:hover, .calendar-container .fc .fc-next-button:active, .calendar-container .fc .fc-next-button:focus {
  border: 1px solid #4F4C90 !important;
  background-color: #f9f9ff !important;
  color: #4F4C90 !important;
  text-decoration: none;
  border: none;
  box-shadow: none;
}
.calendar-container .fc .fc-prev-button .fc-icon, .calendar-container .fc .fc-next-button .fc-icon {
  line-height: 1;
  font-size: 1em;
}
.calendar-container .fc .fc-today-button {
  cursor: pointer;
  display: inline-block;
  background-color: #3B377F;
  color: #FFF;
  border-radius: 5px;
  padding: 5px 20px;
  font-weight: 400;
  border: 2px solid #3B377F;
  font-size: 14px;
  text-align: left;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently supported by Chrome, Opera and Firefox */
  box-shadow: none !important;
}
.calendar-container .fc .fc-today-button:hover, .calendar-container .fc .fc-today-button:active, .calendar-container .fc .fc-today-button:focus {
  background-color: #4F4C90 !important;
  border: 2px solid #4F4C90 !important;
  color: #FFF;
  text-decoration: none;
  border: none;
}
.calendar-container .fc .fc-today-button:disabled {
  background-color: #4F4C90 !important;
  border: 2px solid #4F4C90 !important;
  color: #FFF;
  text-decoration: none;
  border: none;
  cursor: not-allowed;
}
.calendar-container .fc .fc-addAppointmentButton-button {
  font-size: 14px;
  cursor: pointer;
  background-color: #FFF;
  color: #3B377F;
  border-radius: 5px;
  padding: 5px 20px;
  font-weight: 400;
  border: 2px solid #3B377F;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently supported by Chrome, Opera and Firefox */
  box-shadow: none !important;
}
.calendar-container .fc .fc-addAppointmentButton-button:hover, .calendar-container .fc .fc-addAppointmentButton-button:active, .calendar-container .fc .fc-addAppointmentButton-button:focus {
  border: 2px solid #4F4C90 !important;
  background-color: #f9f9ff !important;
  color: #4F4C90 !important;
  text-decoration: none;
  border: none;
}
.calendar-container .fc .fc-timegrid-col-events {
  margin: 0px;
}
.calendar-container .fc .fc-timegrid-col.fc-day-today {
  background-color: #f6f6fd;
}
.calendar-container .fc .fc-timegrid-slot-minor {
  border-top: none;
}
.calendar-container .fc:nth-child(odd) td {
  background-color: transparent;
}
.calendar-container .fc:nth-child(even) td {
  background-color: transparent;
}
.calendar-container .fc .fc-timegrid {
  font-size: 14px;
}
@media screen and (max-width: 575px) {
  .calendar-container .fc .fc-timegrid {
    font-size: 10px;
  }
}
.calendar-container .fc .fc-timegrid .fc-col-header .fc-day a {
  color: #FFF;
  text-decoration: none;
  line-height: 100%;
  padding: 5px 0px;
}
.calendar-container .fc .fc-timegrid .fc-v-event .fc-event-main-frame {
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 767px) {
  .calendar-container .fc .fc-timegrid .fc-v-event .fc-event-main-frame {
    align-items: start;
    justify-content: start;
  }
}
.calendar-container .fc .fc-timegrid .fc-v-event .fc-event-main-frame .fc-event-title-container {
  flex-grow: 0;
}

.twitter-typeahead {
  width: 100%;
}

.tt-menu {
  margin: 0px !important;
}

.tooltip-inner {
  background-color: #3B377F;
  opacity: 0.6;
  font-size: 12px;
}

.tooltip.bs-tooltip-top .tooltip-arrow::before {
  border-top-color: #3B377F;
  opacity: 0.6;
}

.tooltip.bs-tooltip-bottom .tooltip-arrow::before {
  border-bottom-color: #3B377F;
  opacity: 0.6;
}

.tooltip.bs-tooltip-start .tooltip-arrow::before {
  border-left-color: #3B377F;
  opacity: 0.6;
}

.tooltip.bs-tooltip-end .tooltip-arrow::before {
  border-right-color: #3B377F;
  opacity: 0.6;
}

/****** Button ******/
.btn-primary {
  cursor: pointer;
  display: inline-block;
  background-color: #3B377F;
  color: #FFF;
  border-radius: 5px;
  padding: 10px 10px;
  font-weight: 400;
  border: 2px solid #3B377F;
  text-align: left;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently supported by Chrome, Opera and Firefox */
}
.btn-primary:hover, .btn-primary:active, .btn-primary:focus {
  background-color: #4F4C90 !important;
  border: 2px solid #4F4C90 !important;
  color: #FFF;
  text-decoration: none;
  border: none;
}
.btn-primary.disabled {
  background-color: #4F4C90;
  border-color: #4F4C90;
  cursor: not-allowed;
}
.btn-primary:disabled {
  background-color: #4F4C90;
  border-color: #4F4C90;
  cursor: not-allowed;
}

.btn-secondary {
  cursor: pointer;
  display: inline-block;
  background-color: #FFF;
  color: #3B377F;
  border-radius: 5px;
  padding: 10px 10px;
  font-weight: 400;
  border: 2px solid #3B377F;
  text-align: left;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently supported by Chrome, Opera and Firefox */
}
.btn-secondary:hover, .btn-secondary:active, .btn-secondary:focus {
  border: 2px solid #4F4C90 !important;
  background-color: #f9f9ff !important;
  color: #4F4C90 !important;
  text-decoration: none;
  border: none;
}

.btn-green {
  cursor: pointer;
  display: inline-block;
  background-color: #36ad6e;
  color: #FFF;
  border-radius: 5px;
  padding: 10px 10px;
  font-weight: 400;
  border: 2px solid #36ad6e;
  text-align: left;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently supported by Chrome, Opera and Firefox */
}
.btn-green:hover, .btn-green:active, .btn-green:focus {
  background-color: #5fb588 !important;
  border: 2px solid #5fb588 !important;
  color: #FFF;
  text-decoration: none;
  border: none;
}
.btn-green.disabled {
  background-color: #5fb588;
  border-color: #5fb588;
  cursor: not-allowed;
}
.btn-green:disabled {
  background-color: #5fb588;
  border-color: #5fb588;
  cursor: not-allowed;
}

.btn-disabled {
  cursor: not-allowed;
}

.btn-disabled input[type=submit] {
  pointer-events: none;
  background-color: #cdced7;
  color: #353a46;
}

.btn-filter {
  padding: 9px 12px !important;
  width: 100%;
  line-height: 100%;
  text-align: center;
}

.btn-excel {
  padding: 9px 12px !important;
  width: 100%;
  line-height: 100%;
  text-align: center;
  width: auto;
  background-color: #217346;
  border-color: #217346;
}
.btn-excel:hover, .btn-excel:active, .btn-excel:focus {
  background-color: #328b5a !important;
  border: 2px solid #328b5a !important;
  color: #FFF;
  text-decoration: none;
  border: none;
}
.btn-excel.disabled {
  background-color: #328b5a !important;
  cursor: not-allowed;
}
.btn-excel:disabled {
  background-color: #328b5a !important;
  cursor: not-allowed;
}

.small-button {
  padding: 9px 12px;
  line-height: 100%;
}

.bootstrap-select .dropdown-toggle {
  display: block !important;
  width: 100% !important;
  padding: 0.375rem 2.25rem 0.375rem 0.75rem !important;
  -moz-padding-start: calc(0.75rem - 3px) !important;
  font-size: 1rem !important;
  font-weight: 400 !important;
  line-height: 1.5 !important;
  color: #212529 !important;
  background-color: #fff !important;
  background-image: url("/_assets/img/icons/caret-down.svg") !important;
  background-repeat: no-repeat !important;
  background-position: right 0.75rem center !important;
  background-size: 16px 12px !important;
  border: 1px solid #ced4da !important;
  border-radius: 0.25rem !important;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out !important;
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  appearance: none !important;
  outline: none !important;
}
.bootstrap-select .dropdown-toggle:after {
  display: none;
}
.bootstrap-select .dropdown-toggle:focus {
  outline: none !important;
}

.lbl-required {
  color: #FF0000;
}

.pager {
  list-style: none;
  padding: 0;
  display: flex;
  margin-top: 15px;
  justify-content: flex-start;
}
@media screen and (max-width: 575px) {
  .pager {
    justify-content: center;
  }
}
.pager li {
  margin-right: 5px;
}
.pager li span, .pager li i {
  display: block;
  width: 30px;
  height: 30px;
  background-color: #FFF;
  text-align: center;
  border-radius: 50%;
  font-size: 15px;
  line-height: 15px;
  padding-top: 7px;
  cursor: pointer;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently supported by Chrome, Opera and Firefox */
}
.pager li span.active, .pager li i.active {
  background-color: #3B377F;
  color: #FFF;
}

/****** Alert ******/
.alert:empty {
  display: none;
}

.alert {
  font-size: 16px;
  margin-top: 15px;
}

.ui-datepicker-calendar tbody td[data-handler=selectDay] a {
  text-align: center;
  cursor: pointer;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently supported by Chrome, Opera and Firefox */
}

.red-link {
  color: #FF0000;
  text-decoration: underline;
  cursor: pointer;
  display: inline-block;
  width: auto;
}

.field-validation-error {
  color: red !important;
}

.input-validation-error.form-control, .input-validation-error.form-select {
  border: 2px solid red !important;
}

.checkbox-validation-error {
  border-color: red !important;
}

.ui-datepicker {
  background-color: #f6f6f6;
}
.ui-datepicker .ui-datepicker-month, .ui-datepicker .ui-datepicker-year {
  width: 100%;
  padding: 0.1rem 2.25rem 0.1rem 0.75rem;
  -moz-padding-start: calc(0.75rem - 3px);
  font-size: 15px !important;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-image: url("/_assets/img/icons/caret-down.svg");
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  background-size: 16px 12px;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.ui-datepicker .ui-state-default, .ui-datepicker .ui-widget-content .ui-state-default, .ui-datepicker .ui-widget-header .ui-state-default, .ui-datepicker .ui-button, .ui-datepicker html .ui-button.ui-state-disabled:hover, .ui-datepicker html .ui-button.ui-state-disabled:active {
  border: 1px solid #cbcbcb;
}
.ui-datepicker .ui-state-highlight, .ui-datepicker .ui-widget-content .ui-state-highlight, .ui-datepicker .ui-widget-header .ui-state-highlight {
  border: 1px solid #cbcbcb;
  background: #918fb9;
  color: #FFF;
}
.ui-datepicker .ui-state-active, .ui-datepicker .ui-widget-content .ui-state-active, .ui-datepicker .ui-widget-header .ui-state-active, .ui-datepicker a.ui-button:active, .ui-datepicker .ui-button:active, .ui-datepicker .ui-button.ui-state-active:hover {
  border: 1px solid #cbcbcb;
  background: #4F4C90;
  font-weight: normal;
  color: #ffffff;
}

#layout-not-connected .navbar {
  position: relative;
}
@media screen and (max-width: 575px) {
  #layout-not-connected .navbar {
    background-color: #3B377F;
    height: 60px;
  }
}
#layout-not-connected .navbar .navbar-brand {
  width: 300px;
}
@media screen and (max-width: 991px) {
  #layout-not-connected .navbar .navbar-brand {
    width: 275px;
  }
}
@media screen and (max-width: 767px) {
  #layout-not-connected .navbar .navbar-brand {
    width: 250px;
  }
}
@media screen and (max-width: 575px) {
  #layout-not-connected .navbar .navbar-brand {
    width: 200px;
  }
}
@media screen and (max-width: 575px) {
  #layout-not-connected .navbar .navbar-brand {
    filter: invert(99%) sepia(51%) saturate(0%) hue-rotate(80deg) brightness(110%) contrast(100%);
  }
}
#layout-not-connected .navbar .nav-item a {
  color: #000;
}
@media screen and (max-width: 575px) {
  #layout-not-connected .navbar .nav-item a {
    color: #FFF;
    text-align: right;
  }
}
#layout-not-connected .navbar .navbar-toggler:focus {
  box-shadow: none;
}
#layout-not-connected .navbar .navbar-toggler img {
  width: 30px;
}
@media screen and (max-width: 575px) {
  #layout-not-connected .navbar .navbar-collapse {
    width: 200px;
    position: absolute;
    background-color: #4F4C90;
    right: 0px;
    top: 60px;
    padding: 10px 20px;
    border-bottom-left-radius: 7px;
  }
}
#layout-not-connected .form-group {
  margin-top: 20px;
}
#layout-not-connected .form-control {
  border: 1px solid #000;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.15);
}

#page-login h1 {
  margin-top: 100px;
  font-family: "DM Serif Display", serif;
  font-size: 80px;
}
@media screen and (max-width: 1199px) {
  #page-login h1 {
    font-size: 75px;
  }
}
@media screen and (max-width: 991px) {
  #page-login h1 {
    font-size: 70px;
  }
}
@media screen and (max-width: 767px) {
  #page-login h1 {
    font-size: 65px;
  }
}
@media screen and (max-width: 575px) {
  #page-login h1 {
    font-size: 60px;
  }
}
#page-login .forgot-link {
  color: #000;
  font-size: 13px;
}
#page-login .forgot-link:hover {
  text-decoration: none;
}

#page-forgotpassword h1 {
  margin-top: 100px;
  font-family: "DM Serif Display", serif;
}

#page-resetpassword h1 {
  margin-top: 100px;
  font-family: "DM Serif Display", serif;
}

#layout-connected header {
  padding: 20px 20px 0px 20px;
  box-shadow: 0px 0px 10px #a0a0a0;
  margin-bottom: 20px;
}
#layout-connected header .navbar.main-navbar {
  padding-top: 25px;
  padding-bottom: 0px;
}
#layout-connected header .navbar.main-navbar .navbar-nav {
  width: 100%;
}
#layout-connected header .navbar.main-navbar .navbar-nav .menu-relative {
  position: relative;
}
@media screen and (max-width: 575px) {
  #layout-connected header .navbar.main-navbar .navbar-nav .menu-relative {
    position: static;
  }
}
#layout-connected header .navbar .logo-welcome {
  display: flex;
  align-items: center;
}
#layout-connected header .navbar .navbar-brand {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}
@media screen and (max-width: 450px) {
  #layout-connected header .navbar .navbar-brand {
    width: 40px;
    height: 40px;
  }
}
#layout-connected header .navbar .welcome-title {
  font-family: "DM Serif Display", serif;
  font-size: 50px;
  line-height: 125%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 705px;
}
@media screen and (max-width: 1499px) {
  #layout-connected header .navbar .welcome-title {
    max-width: 635px;
  }
}
@media screen and (max-width: 1199px) {
  #layout-connected header .navbar .welcome-title {
    max-width: 565px;
  }
}
@media screen and (max-width: 991px) {
  #layout-connected header .navbar .welcome-title {
    max-width: 495px;
  }
}
@media screen and (max-width: 767px) {
  #layout-connected header .navbar .welcome-title {
    max-width: 410px;
  }
}
@media screen and (max-width: 575px) {
  #layout-connected header .navbar .welcome-title {
    max-width: 175px;
    line-height: 100%;
  }
}
@media screen and (max-width: 1499px) {
  #layout-connected header .navbar .welcome-title {
    font-size: 45px;
  }
}
@media screen and (max-width: 1199px) {
  #layout-connected header .navbar .welcome-title {
    font-size: 40px;
  }
}
@media screen and (max-width: 991px) {
  #layout-connected header .navbar .welcome-title {
    font-size: 35px;
  }
}
@media screen and (max-width: 767px) {
  #layout-connected header .navbar .welcome-title {
    font-size: 32px;
  }
}
@media screen and (max-width: 575px) {
  #layout-connected header .navbar .welcome-title {
    font-size: 25px;
  }
}
#layout-connected header .navbar #navbarAccount {
  width: 60px;
  height: 60px;
  padding-bottom: 0px;
}
@media screen and (max-width: 450px) {
  #layout-connected header .navbar #navbarAccount {
    width: 40px;
    height: 40px;
  }
}
#layout-connected header .navbar #navbarAccount::after {
  display: none;
}
#layout-connected header .navbar .navbar-nav .nav-item .nav-link {
  font-size: 15px;
  color: #757778;
  display: flex;
  align-items: center;
  padding: 0px 0px 10px 0px;
  margin: 0px 30px 0px 5px;
}
@media screen and (max-width: 767px) {
  #layout-connected header .navbar .navbar-nav .nav-item .nav-link {
    margin: 0px;
  }
}
#layout-connected header .navbar .navbar-nav .nav-item .nav-link .menu-icon {
  filter: invert(50%) sepia(6%) saturate(109%) hue-rotate(155deg) brightness(92%) contrast(90%);
  width: 25px;
  height: 25px;
  margin-right: 5px;
}
@media screen and (max-width: 767px) {
  #layout-connected header .navbar .navbar-nav .nav-item .nav-link .menu-name {
    display: none;
  }
}
#layout-connected header .navbar .navbar-nav .nav-item .nav-link.actif {
  border-bottom: 3px solid #4F4C90;
  color: #000;
}
#layout-connected header .navbar .navbar-nav .nav-item .nav-link.actif .menu-icon {
  filter: none;
}
#layout-connected header .navbar .navbar-nav .dropdown-item.active, #layout-connected header .navbar .navbar-nav .dropdown-item:active {
  color: #fff;
  text-decoration: none;
  background-color: #4F4C90;
}
#layout-connected header .navbar.main-navbar .dropdown-menu[data-bs-popper].menu-right {
  top: 100%;
  right: 0px;
  left: auto;
  margin-top: 0.125rem;
}
@media screen and (max-width: 575px) {
  #layout-connected header .navbar.main-navbar .dropdown-menu[data-bs-popper].menu-right {
    left: -20px;
    right: -20px;
    margin-top: 0px;
  }
}
@media screen and (max-width: 575px) {
  #layout-connected header .navbar.main-navbar .dropdown-menu[data-bs-popper] {
    left: -20px;
    right: -20px;
    margin-top: 0px;
  }
}
#layout-connected header .navbar.user-navbar .dropdown-menu[data-bs-popper].menu-right {
  top: 100%;
  right: 0px;
  left: auto;
  margin-top: 0.125rem;
}

#page-therapist-calendar .repeat-container {
  background-color: #e7e7e7;
  padding: 20px;
  border-radius: 7px;
}
#page-therapist-calendar .repeat-container h3 {
  text-align: center;
  font-size: 20px;
  padding-bottom: 15px;
}
@media screen and (max-width: 991px) {
  #page-therapist-calendar .repeat-container label {
    padding: 10px 0px 5px 0px;
    line-height: 100%;
  }
}
#page-therapist-calendar .repeat-container .row {
  min-height: 38px;
  align-items: center !important;
}
@media screen and (max-width: 991px) {
  #page-therapist-calendar .repeat-container #js-appointment-modal-starts-from {
    line-height: 100%;
  }
}
#page-therapist-calendar .repeat-container #day-selected {
  display: flex;
}
#page-therapist-calendar .repeat-container #day-selected .js-appointment-modal-day {
  width: 30px;
  height: 30px;
  background-color: #FFF;
  border-radius: 50%;
  font-size: 13px;
  color: #000;
  text-align: center;
  cursor: pointer;
  padding-top: 5px;
  font-weight: 400;
  margin-right: 10px;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently supported by Chrome, Opera and Firefox */
}
@media screen and (max-width: 450px) {
  #page-therapist-calendar .repeat-container #day-selected .js-appointment-modal-day {
    width: 25px;
    height: 25px;
    font-size: 11px;
    padding-top: 4px;
    margin-right: 8px;
  }
}
#page-therapist-calendar .repeat-container #day-selected .js-appointment-modal-day:hover {
  background-color: #f9f9ff;
}
#page-therapist-calendar .repeat-container #day-selected .js-appointment-modal-day.selected {
  background-color: #3B377F;
  color: #FFF;
}
#page-therapist-calendar .repeat-container #day-selected .js-appointment-modal-day.selected:hover {
  background-color: #4F4C90;
}
#page-therapist-calendar #js-conflict-list li {
  margin-top: 20px;
}

#page-therapist-profil {
  font-weight: 300;
}
#page-therapist-profil .availability .row:not(:last-child) {
  border-bottom: 1px solid #D3D3D3;
}

#page-admin-detailtherapist {
  /*font-weight: 300;*/
}
#page-admin-detailtherapist .availability .row:not(:last-child) {
  border-bottom: 1px solid #D3D3D3;
}
#page-admin-detailtherapist .js-service-type label {
  margin-left: 5px;
  color: #212529;
  font-size: 16px;
}
@media screen and (max-width: 1199px) {
  #page-admin-detailtherapist .js-service-type label {
    font-size: 15px;
  }
}
@media screen and (max-width: 767px) {
  #page-admin-detailtherapist .js-service-type label {
    font-size: 14px;
  }
}
@media screen and (max-width: 767px) {
  #page-admin-detailtherapist .Area-filling-cells {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  #page-admin-detailtherapist .Orientation-filling-cells {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  #page-admin-detailtherapist .Competences-filling-cells {
    display: none;
  }
}

.checkbox-section {
  margin: 20px 0px;
}
.checkbox-section .form-group span {
  font-size: 16px;
  font-weight: 300;
}

.apexcharts-canvas {
  margin: 0px auto;
}

.lblcheck {
  font-size: 16px;
  font-weight: 300;
  color: #212529;
}

#page-therapist-myskills h4 {
  margin-top: 30px;
}
#page-therapist-myskills .js-service-type label {
  margin-left: 5px;
  color: #212529;
  font-size: 16px;
}
@media screen and (max-width: 1199px) {
  #page-therapist-myskills .js-service-type label {
    font-size: 15px;
  }
}
@media screen and (max-width: 767px) {
  #page-therapist-myskills .js-service-type label {
    font-size: 14px;
  }
}
@media screen and (max-width: 767px) {
  #page-therapist-myskills .Area-filling-cells {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  #page-therapist-myskills .Orientation-filling-cells {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  #page-therapist-myskills .Competences-filling-cells {
    display: none;
  }
}

#page-therapist-claimform #PreviewTherapistBill .facture-title {
  font-family: "DM Serif Display", serif;
  font-size: 35px;
}
#page-therapist-claimform #PreviewTherapistBill .table-description {
  font-size: 14px;
}
#page-therapist-claimform #PreviewTherapistBill .taxes-number {
  font-size: 10px;
  font-style: italic;
}
#page-therapist-claimform #PreviewTherapistBill .taxes-summary {
  font-size: 14px;
}

#page-admin-appointementrequest .appointment-late td {
  background-color: #F8D7DA;
}

#page-admin-calendar #js-admin-calendar-date-set {
  cursor: pointer;
}
#page-admin-calendar .fc {
  margin-top: 40px;
  /*.fc-timeline-event-harness {
            height:100%;
        }*/
}
@media screen and (max-width: 767px) {
  #page-admin-calendar .fc {
    margin-top: 20px;
  }
}
@media screen and (max-width: 767px) {
  #page-admin-calendar .fc .fc-toolbar {
    flex-direction: column;
    justify-content: center;
  }
  #page-admin-calendar .fc .fc-toolbar .fc-toolbar-chunk {
    margin: 5px 0px;
  }
  #page-admin-calendar .fc .fc-toolbar .fc-toolbar-chunk:nth-child(1) {
    order: 1;
  }
  #page-admin-calendar .fc .fc-toolbar .fc-toolbar-chunk:nth-child(2) {
    order: 2;
  }
}
#page-admin-calendar .fc .fc-toolbar.fc-header-toolbar {
  margin-bottom: 15px;
}
@media screen and (max-width: 767px) {
  #page-admin-calendar .fc .fc-toolbar.fc-header-toolbar {
    margin-bottom: 5px;
  }
}
#page-admin-calendar .fc .fc-scrollgrid {
  background-color: #FFF;
}
#page-admin-calendar .fc .fc-toolbar-chunk {
  position: relative;
}
#page-admin-calendar .fc .fc-resource-timeline-divider {
  visibility: hidden;
  width: 1px;
}
#page-admin-calendar .fc .fc-prev-button, #page-admin-calendar .fc .fc-next-button {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  padding: 0px;
  line-height: 0.9;
  cursor: pointer;
  background-color: #FFF;
  color: #3B377F;
  border: 1px solid #3B377F;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently supported by Chrome, Opera and Firefox */
  box-shadow: none !important;
}
#page-admin-calendar .fc .fc-prev-button:hover, #page-admin-calendar .fc .fc-prev-button:active, #page-admin-calendar .fc .fc-prev-button:focus, #page-admin-calendar .fc .fc-next-button:hover, #page-admin-calendar .fc .fc-next-button:active, #page-admin-calendar .fc .fc-next-button:focus {
  border: 1px solid #4F4C90 !important;
  background-color: #f9f9ff !important;
  color: #4F4C90 !important;
  text-decoration: none;
  border: none;
  box-shadow: none;
}
#page-admin-calendar .fc .fc-prev-button .fc-icon, #page-admin-calendar .fc .fc-next-button .fc-icon {
  line-height: 1;
  font-size: 1em;
}
#page-admin-calendar .fc .fc-today-button {
  cursor: pointer;
  display: inline-block;
  background-color: #3B377F;
  color: #FFF;
  border-radius: 5px;
  padding: 5px 20px;
  font-weight: 400;
  border: 2px solid #3B377F;
  font-size: 14px;
  text-align: left;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently supported by Chrome, Opera and Firefox */
  box-shadow: none !important;
}
#page-admin-calendar .fc .fc-today-button:hover, #page-admin-calendar .fc .fc-today-button:active, #page-admin-calendar .fc .fc-today-button:focus {
  background-color: #4F4C90 !important;
  border: 2px solid #4F4C90 !important;
  color: #FFF;
  text-decoration: none;
  border: none;
}
#page-admin-calendar .fc .fc-today-button:disabled {
  background-color: #4F4C90 !important;
  border: 2px solid #4F4C90 !important;
  color: #FFF;
  text-decoration: none;
  border: none;
  cursor: not-allowed;
}
#page-admin-calendar .fc .fc-timeline-header-row-chrono .fc-timeline-slot-frame {
  justify-content: center;
}
#page-admin-calendar .fc .fc-timeline-slot-cushion {
  color: #FFF;
  text-decoration: none;
  font-size: 15px;
}
#page-admin-calendar .fc .fc-datagrid-cell-main {
  font-size: 15px;
}
@media screen and (max-width: 991px) {
  #page-admin-calendar .fc .fc-datagrid-cell-main {
    font-size: 14px;
  }
}
@media screen and (max-width: 767px) {
  #page-admin-calendar .fc .fc-datagrid-cell-main {
    font-size: 12px;
  }
}
@media screen and (max-width: 575px) {
  #page-admin-calendar .fc .fc-datagrid-cell-main {
    font-size: 11px;
  }
}
#page-admin-calendar .fc .fc-event-title {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently supported by Chrome, Opera and Firefox */
}
#page-admin-calendar .fc table tbody tr:nth-child(odd) td {
  background-color: transparent;
}
#page-admin-calendar .fc .fc-resource {
  background-color: #FFF;
}
#page-admin-calendar .fc .fc-timeline-event .fc-event-title {
  font-size: 11px;
}
@media screen and (max-width: 575px) {
  #page-admin-calendar .fc .fc-timeline-event .fc-event-title {
    font-size: 10px;
  }
}
#page-admin-calendar .fc .fc-event {
  border-radius: 3px;
  height: 100%;
}
#page-admin-calendar .fc tfoot {
  display: none;
}
#page-admin-calendar .fc .fc-scrollgrid-sync-inner {
  height: 100% !important;
}
#page-admin-calendar .fc .fc-timeline-event-harness {
  height: 100%;
}
#page-admin-calendar #js-admin-calendar-date-set {
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
}

#client-body {
  width: 100%;
  max-width: 900px;
  margin: 50px auto;
  border-radius: 10px;
}
@media screen and (max-width: 767px) {
  #client-body {
    margin: 0px auto;
  }
}
#client-body .shadow-body {
  box-shadow: 0px 0px 10px #A5A5A5;
}
#client-body .client-left {
  background-color: #3B377F;
  color: #FFF;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 20px;
  height: 100%;
}
#client-body .client-left a {
  font-size: 15px;
  color: #FFF;
}
#client-body .client-left a:hover {
  text-decoration: underline;
}
@media screen and (max-width: 767px) {
  #client-body .client-left {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }
}
#client-body .client-left .navbar-brand {
  max-width: 220px;
  display: block;
}
#client-body .client-left .payment-item {
  margin: 10px 0px;
}
#client-body .client-left .payment-item label {
  color: #FFF;
  font-size: 15px;
}
#client-body .client-left .payment-item .item-info {
  font-weight: 200;
}
#client-body .client-left .amount-info {
  width: 100%;
  font-size: 15px;
}
@media screen and (max-width: 767px) {
  #client-body .client-left .amount-info {
    margin-top: 25px;
  }
}
#client-body .client-left .amount-info .amount-item {
  border-bottom: 1px solid #4F4C90;
}
#client-body .client-left .amount-info .amount-item span {
  font-size: 10px;
  font-style: italic;
  font-weight: 200;
}
#client-body .client-left .amount-info .amount-item .amount-value {
  font-weight: 200;
}
#client-body .client-left .amount-info .total {
  font-size: 50px;
  text-align: center;
  margin-top: 50px;
  line-height: 1;
}
@media screen and (max-width: 767px) {
  #client-body .client-left .amount-info .total {
    font-size: 40px;
    margin-top: 40px;
  }
}
@media screen and (max-width: 575px) {
  #client-body .client-left .amount-info .total {
    font-size: 30px;
  }
}
#client-body .client-left .amount-info .total .total-label {
  font-size: 16px;
}
#client-body .client-right {
  padding: 20px;
  background-color: #FFF;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  height: 100%;
  font-weight: 300;
}
#client-body .client-right a {
  font-size: 15px;
  color: #212529;
}
#client-body .client-right a:hover {
  text-decoration: underline;
}
@media screen and (max-width: 767px) {
  #client-body .client-right {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
}
#client-body .client-right .form-group {
  margin-top: 20px;
}
@media screen and (max-width: 767px) {
  #client-body .client-right .form-group {
    margin-top: 10px;
  }
}
#client-body .client-right hr {
  margin: 20px 0px 30px 0px;
}
#client-body .client-right .alert {
  width: 100%;
  display: block;
  font-size: 15px;
  margin-bottom: 0px;
}
#client-body .client-right label {
  font-size: 15px;
}
#client-body .creditcard {
  max-width: 60px;
  margin-bottom: 5px;
}

#ui-datepicker-div {
  z-index: 1056 !important;
}

#page-detail-client-admin .availability .row:not(:last-child) {
  border-bottom: 1px solid #D3D3D3;
}

#page-detail-client-therapist .availability .row:not(:last-child) {
  border-bottom: 1px solid #D3D3D3;
}

#privacypolicy, #termsofuse {
  margin-top: 30px;
}
#privacypolicy ul, #privacypolicy ol, #termsofuse ul, #termsofuse ol {
  padding-bottom: 20px;
}
#privacypolicy ol, #termsofuse ol {
  counter-reset: item;
}
#privacypolicy ol:not([type=i]) > li, #termsofuse ol:not([type=i]) > li {
  display: block;
}
#privacypolicy ol:not([type=i]) > li:before, #termsofuse ol:not([type=i]) > li:before {
  content: counters(item, ".") ". ";
  counter-increment: item;
  margin-left: -22px;
  font-weight: bold;
}
#privacypolicy .mb16, #termsofuse .mb16 {
  margin-bottom: 1rem;
  display: inline-block;
}
#privacypolicy table tbody tr td, #termsofuse table tbody tr td {
  white-space: normal;
  background-color: transparent;
}
#privacypolicy table tbody tr td:first-child, #termsofuse table tbody tr td:first-child {
  width: 30%;
}
